<ul class="nav nav-tabs">
  <li><%= link_to "Parkings", parkings_path, class: "label label-warning" %></li>
  <li><%= link_to "Rents", place_rents_path, class: "label label-success" %></li>
  <li><%= link_to "Cars", cars_path, class: "label label-info" %></li>
</ul>

